.card{
    width: 400px;
    border: 2px solid black;
    border-radius: 25px;
    padding: 10px;
    margin: 10px;
    box-shadow: 5px 5px 10px black;
    transition: 0.5s;
}

.card:hover {
    transform: translate(0, -30px);
    box-shadow: 10px 10px 20px black;
}

img {
    width: 100%;
    border-radius: 20px 20px 0 0;
}

h2{
    color: #d56f3e;
}

span {
    color: #9d6f24;
}

h1{
    text-align: center;
}

.pets{
    display: flex;
    justify-content: space-evenly;
}

body{
    background-color: rgb(204, 244, 149);
}

h3{
    color: rgb(160, 249, 152);
    text-align: center;
    font-size: 25px;
    border: 2px solid black;
    background-color: rgb(139, 104, 58);
}

h5{
    text-align: center;
    color: rgb(139, 104, 58);
}

@media(max-width:390px){
    .pets{
        flex-wrap: wrap;
    }
}